name: Continuous Integration
on: [push]

jobs:
    build:
        name: Build and test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Build the code
            run: dotnet build

            -name: Run tests
            run: dotnet test
